@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Sarabun:400,600');

/*------------------------------
           Global
--------------------------------*/
body{
  font-family: 'Sarabun', sans-serif;
  display: flex;
  justify-content: space-between;
}
main {
  width: 100%;
}
.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.link{
  text-decoration: none;
  color: #0095f8;
  font-size: 0.875rem;
  font-weight: 600;
}

/*------------------------------
           Breadcrum 
--------------------------------*/
.breadcrum {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #d4d9dd;
  display: flex;
  justify-content: space-evenly;
  margin: 0 8rem;
  padding-top: 4.5rem;
  text-align: center;
  counter-reset: number;
}
.breadcrum li{
  border-bottom: 0.063rem solid #e4eaee;
  height: 3.375rem;
  width: 100%;
}
.breadcrum li[aria-current] {
  color: black;
  border-bottom: 0.063rem solid black;
}

.breadcrum li::before {
  counter-increment: number;
  content: "0" counter(number) " ";
}

/*------------------------------
            Form
--------------------------------*/
.checkout, .ship-info {
  padding: 4.438rem 8rem 0;
}
.checkout__title, .ship-info__title {
  font-size: 1.5rem;
  margin-bottom: 2.375rem;
}
.checkout__divider{
  display: flex;
}
.checkout__divider > div {
  width: 50%;
}
.checkout__divider > div + div {
  margin-left: 1.375rem;
}

/*
          Labels
--------------------------------*/
.checkout__label {
  color: #d4d9dd;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.375rem;
}

/*
          Inputs
--------------------------------*/
.checkout__input {
  width: 100%;
  height: 3.375rem;
  margin-bottom: 2.063rem;
  border: 0.063rem solid #dde3e8;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0 1.563rem;
  color: #1b2125;
}

/*
        Inputs inline
--------------------------------*/
.checkout__inline {
  display: flex;
  align-items: end;
  position: relative;
  top: 1.125rem;
}
.checkout__input--inline{
  border-radius: 0.5rem 0 0 0.5rem;
}
.checkout__label--inline {
  display: block;
  position: absolute;
  top: -1.125rem;
}

/*
          Btn inline
--------------------------------*/
.checkout__btn--find {
  border: 0.063rem solid #dde3e8;
  color: #0095f8;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 1.25rem;
  border-radius: 0 0.5rem 0.5rem 0;
  height: 3.375rem;
}

/*
          Radio inputs
--------------------------------*/
.checkout__img-cards {
  background: url("/images/cards.png") 100% 0 no-repeat;
  background-size: 6.25rem;
}
.checkout__img-paypal {
  background: url("/images/paypal.png") 95% 25% no-repeat;
}
.checkout__label--radio {
  display: flex;
  justify-content: space-between;
  width: 85%;
  color: #1b2125;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2.188rem;
  padding-top: 0.25rem;
}
.checkout__label--radio > span {
  font-weight: 600;
}
.checkout__label__desc {
  color: grey;
  font-size: 1rem;
  line-height: 1.625rem;
  padding: 0 0 0 2.188rem;
  max-width: 21.875rem;
}
.checkout__label__desc--wider {
  color: grey;
  font-size: 1rem;
  line-height: 1.625rem;
  padding: 0 2.188rem;
  max-width: 30rem;
  margin-bottom: 1.875rem;
}
.checkout__radiocheck {
  position: absolute;
  width: 1.125rem;
  height: 1.125rem;
}
input[type='radio'] {
  -webkit-appearance:none;
  border: 0.063rem solid #d4d9dd;
  border-radius:50%;
  outline:none;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;
}
input[type='radio']:checked:before {
  background: #0095f8;
 
}
input[type='radio']:checked {
  border: 0.063rem solid #0095f8;
}

/*
          Selects
--------------------------------*/
.checkout__select-list {
  width: 100%;
  height: 3.375rem;
  margin-bottom: 2.063rem;
  padding: 1rem 1.563rem;
  color: #788995;
  font-size: 1rem;
  cursor: pointer;
  border: 0.063rem solid #dde3e8;
  border-radius: 0.5rem;
}

/*
          Fieldsets
--------------------------------*/
fieldset {
  border: 0.063rem solid #dde3e8;
  border-radius: 0.5rem;
  padding: 2.5rem 2.375rem;
}
fieldset + div {
  border: 0.063rem solid #dde3e8;
  border-radius: 0.5rem;
  padding: 2.25rem 2.5rem;
  margin-top: 1.563rem;
  margin-bottom: 3.125rem;
}

/*
          Submit
--------------------------------*/
.checkout__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  clear: both;
  margin-bottom: 9.375rem;
}
.checkout__link {
  text-decoration: none;
  color: #788995;
}
.checkout__link::before {
  content: "\27F5";
}
.checkout__btn--submit {
  background-color: #0077e2;
  color: #ffffff;
  padding: 1.125rem 2.688rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
}

/*------------------------------
        Shipping Info 
--------------------------------*/
.ship-info .container {
  display: flex;
  justify-content: space-between;
}
.ship-info .col {
  width: 50%;
  border: 0.063rem solid #dde3e8;
}
.ship-info article {
  padding: 1.938rem 3.125rem;
  line-height: 1.625rem;
  color: #788995;
}
.checkout__wrapper {
  border: 0.063rem solid #dde3e8;
  border-radius: 0.5rem;
  margin-bottom: 3.125rem;
  padding: 2.188rem 2.5rem;
}

/*------------------------------
        Payment Info 
--------------------------------*/
fieldset > .checkout__divider > div:nth-child(1) {
  width: 100%;
}

/*------------------------------
           Summary 
--------------------------------*/
.summary {
  background-color: #f8fafb;
  padding: 3.125rem;
  max-width: 24.375rem;
}

/*
        Summary title
--------------------------------*/
.summary__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0 1.563rem 0;
  border-bottom: 0.063rem solid #e4eaee;
  font-size: 1.5rem;
  color: #1b2125;
}

/*
        Summary badge
--------------------------------*/
.summary__badge {
  font-size: 0.875rem;
  background-color: blue;
  color: #ffffff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding: 0.313rem;
}

/*
        Summary product
--------------------------------*/
.summary__product {
  padding: 2.875rem 0;
  border-bottom: 0.063rem solid #e4eaee;
}
.summary__product li {
    padding-bottom: 1.563rem;
    display: inline-block;
    clear: both;
}
.summary__product a {
  display: inline-block;
  text-decoration: none;
  color: #788995;
  line-height: 1.5rem;
}
.summary__img {
  display: inline-block;
  float: left;
  padding-right: 0.75rem;
}
.summary__price {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
}

/*
            Voucher
--------------------------------*/
.summary__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1.063rem 0;
  border-bottom: 0.063rem solid #e4eaee;
  width: 100%;
  font-size: 0.875rem;
  color: #1b2125;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}
.summary__voucher {
  display: none;
  padding: 1.25rem 0;
  border-bottom: 0.063rem solid #e4eaee;
}
.voucher__label{
  color: #d4d9dd;
  display: block;
  font-size: 0.75rem;
  margin-bottom: 0.375rem;
}
.voucher__input{
  width: 100%;
  height: 1.5rem;
  border: 0.063rem solid #dde3e8;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0 1.563rem;
  color: #1b2125;
}
.voucher__btn--submit {
  background-color: #0077e2;
  color: #ffffff;
  padding: 0.25rem 0.875rem;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 0.625rem
}

/*
        Table total
--------------------------------*/
.sr-only {
  text-indent: -6249.938rem;
}
.total{
  margin-top: 0.875rem;
  width: 100%;
  table-layout: auto;
}
.total tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.875rem;
  font-size: 0.875rem;
  color: #788995;
}
.total tr:nth-child(2){
  margin-bottom: 1.313rem;
}
.total tr:nth-last-child(1){
  font-weight: 600;
  font-size: 1rem;
  color: #1b2125;
  padding-top: 1.5rem;
}
.total td:nth-last-child(1){
  font-weight: 600;
}

.total__result{
  border-top: 0.063rem solid #e4eaee;
}

